@model EducationPortal.UI.Models.CourseVM
@inject EducationPortal.Services.Interfaces.IMaterialService Material
@{
    ViewData["Title"] = "Create Course";
}

<h1>Create Course</h1>

<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="CreateCourse">
            <div class="col-sm-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-8 col-sm-4">
                    <span>Videos</span>
                    @Html.ListBoxFor(Model => Model.Materials, ViewBag.Videos as MultiSelectList, new { @style = "width: 250px;" })
                </div>
                <div class="col-8 col-sm-4">
                <span> Articles</span>
                @Html.ListBoxFor(Model => Model.Materials, ViewBag.Articles as MultiSelectList, new { @style = "width: 250px;" })
            </div>
            <div class="col-8 col-sm-4">
                <span> Books</span>
                @Html.ListBoxFor(Model => Model.Materials, ViewBag.Books as MultiSelectList, new { @style = "width: 250px;" })
            </div>
        </div>
        <div class="row">
            <div class="col-8 col-sm-4">
                <span> Skiils</span>
                @Html.ListBoxFor(Model => Model.Skills, ViewBag.Skills as MultiSelectList, new { @style = "width: 250px;" })
            </div>
            </div>
            <div>
                Test name
                @Html.EditorFor(Model => Model.Test.Name)
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
